.DS_Store
._.DS_Store
._baba.jpg
._background 2.jpg
._file.js
._fonts
._haha.jpg
._haya.jpg
._hhh.jpg
._Mohamed Amine Qobaiche.html
._photo.jpg
._photo1.jpg
._photo2.jpg
._photo3.jpg
._qww.jpg
._reference for box model css.svg
._style.css
._yakha.jpg
._yaya.jpg
Thumbs.db